
services:
  frontend:
    build:
      context: ./pokemon-grader-frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./pokemon-grader-frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE=http://localhost:8081

  backend:
    build:
      context: ./pokemon-backend
      dockerfile: Dockerfile.dev
    volumes:
      - ./pokemon-backend:/app
      - ./secrets:/secrets:ro
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/secrets/firebase-admin.json
    ports:
      - "8081:8080"
