version: "3.9"
services:
  backend:
    build:
      context: ./pokemon-backend
      dockerfile: Dockerfile.dev
    ports: ["8080:8080"]
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/firebase-admin.json
      GOOGLE_CLOUD_PROJECT: pokesite-85bfd
    volumes:
      - ./pokemon-backend:/app
      - ~/.m2:/root/.m2
      - ~/.gcp/firebase-admin.json:/secrets/firebase-admin.json:ro

  frontend:
    build:
      context: ./pokemon-grader-frontend
      dockerfile: Dockerfile.dev
    ports: ["5173:5173"]
    environment:
      VITE_API_BASE: "http://backend:8080"
    volumes:
      - ./pokemon-frontend:/app
      - /app/node_modules
    depends_on: [backend]
